.clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.clients {
    display: flex;
    gap: 30px;
}

.clients__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border var(--time) var(--time-funktion);

    &:hover {
            border: 1px solid var(--activ-color);
            cursor: pointer;
        }
}

.clients__item a {
    &:focus {
            border: 1px solid var(--activ-color);
            cursor: pointer;
        }
}

.clients__icon {
    fill: #AFB1B8;
    transition: fill var(--time) var(--time-funktion);

    .clients__item:hover &,
    .clients__item:focus & {
            fill: var(--activ-color);
        }
}