.footer {
    padding: 60px 0;
    background-color: #2F303A;
}

.footer .container {

    display: block;

    @media screen and (min-width: $desctop) {
        display: flex;
        align-items: baseline;
        }
}

.footer-tablet {

    display: block;

@media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
}
}

.adress-li:not(:last-child) {
    margin-bottom: 9px;
}

.adress-link {
    color: var(--white-color);
    font-style: normal;
    line-height: 1.71;
    transition: color var(--time) var(--time-funktion);

    &:hover,
    &:focus {
            color: var(--activ-color);
        }
}

.f-right {
    width: 206px;
    height: 80px;
    margin-left: 70px;
}

.f-right .socials-list {
    margin: 0;
}

.join {
    width: auto;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.f-form {
    width: 570px;
    height: 86px;
    margin-left: 93px;
}

.f-sign {
    width: auto;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-form {
    
    display: block;

    @media screen and (min-width: $desctop) {
        display: flex;
        gap: 12px;
        }
}

.sign {
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    color: var(--white-color);
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    letter-spacing: 0.03em;

    transition: border var(--time) var(--time-funktion);

    &:focus,
    &:hover {
            border-color: var(--activ-color);
        }

        &::placeholder {
            display: flex;
            align-items: center;
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6)
        }
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;

    background-color: var(--activ-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--activ-color);
}

.link-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.info-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    transition: color var(--time) var(--time-funktion);

    &:hover,
    &:focus {
            color: var(--activ-color);
        }
}