.socials-list {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 206px;
    height: 44px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    border-radius: 50%;
    transition: background-color var(--time) var(--time-funktion), fill var(--time) var(--time-funktion);

    &:hover,
    &:focus {
        fill: #FFFFFF;
        background-color: var(--activ-color);
    }
}

.socials-icons {
    fill: var(--white-color);
}